*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--primaryColor:rgb(53, 153, 247);
--secondaryColor: rgb(233, 229, 229);
}

section > div{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.image-container{
    
    background-color: var(--primaryColor);
    background-image: url('./placeholder-image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    display:flex;
    align-items: center;
    
}
.image-container::after{
    position: relative;
    align-self: flex-end;
    text-align: center;
    
    content: 'Image Title';
    background-color: var(--secondaryColor);
    width:100%
}


p{
    text-indent: 1rem;
    margin: 2rem 1rem;
}

@media 
  (max-device-width: 900px) 
  and (orientation: portrait) { 
    section > div{
        grid-template-columns: repeat (3, 1fr );
        grid-template-rows: repeat (auto-fit, 1fr );
    }


}
@media screen and (max-width: 770px){
    section > div{
        margin: auto;
        height: auto;
        width: 70vw;
        grid-template-columns: auto;
        grid-template-rows: repeat (auto-fit, minmax(250px, 1fr) );
    }
    p{
        
        padding-top: 2rem;
        width: 70vw;
        margin: auto;
        
        justify-content: center;
        vertical-align: middle;
    }
        
        
    
    .image-container{
        height: 50vh;
    }

}





    

